@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #e0e8ff;
    display: flex;
    justify-content: center;
    img{
        width: 100vw;
    }
    
    #main-content{
        position: absolute;
        background-color: white;
        border-radius: 2vw;
        width: 30vw;
        top:30vh;
        box-shadow: 0vw 0.5vw 0.9vw lightgray ;
        img{
            width:30vw;
            height: 30vh;
            border-top-left-radius: 2vw;
            border-top-right-radius: 2vw;
        }
        #order-text{
            font-family: 'Red Hat Display', sans-serif;
            font-size:2vw;
            section{
                text-align: center;
                color: rgb(168, 168, 168);
                font-size: 1.5vw;
            }
        }
        #plans{
            background-color: #e7ebfa;
            border-radius: 1vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1vw;
            width: 25vw;
            margin: 2vw auto;
            align-items: center;
            img{
                width: 5vw;
                height: 10vh;
            }
            section{
                margin-left: -5vw;
                padding: 1vw;
                font-weight: bold;
                font-size: 1.5vw;
                font-family: 'Red Hat Display', sans-serif;
                span{
                    font-weight: normal;
                    font-family: 'Red Hat Display', sans-serif;
                    color: rgb(145, 145, 145);
                    text-decoration: none;
                    font-size: 1.3vw;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
            }
            span{
                color: blue;
                text-decoration: underline;
                padding: 0.3vh;
                font-size: 1.4vw;
                font-family: 'Red Hat Display', sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
                &:hover{
                    cursor: pointer;
                    color: #6b92ff;
                    text-decoration: none;
                }
            }
        }
        #buttons{
            display: block;
            margin: 0 auto;
            width:20vw;
            #button-proceed{
                text-align: center;
                font-size: 1.5vw;
                font-family: 'Red Hat Display', sans-serif;
                border-radius: 0.5vw;
                background-color: blue;
                color: white;
                padding: 1vw;
                box-shadow: 0vw 0.5vw 0.9vw blue;
                transition: 0.3s;
                &:hover{
                    cursor: pointer;
                    background-color: #6b92ff;
                    box-shadow: 0vw 0.5vw 0.9vw #6b92ff ;
                }
            }
            #button-cancel{
                text-align: center;
                font-size: 1.5vw;
                border-radius: 0.5vw;
                color: rgb(153, 153, 153);
                padding: 1vw;
                font-family: 'Red Hat Display', sans-serif;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
@media only screen and (max-width:426px){
    body{
        background-color: #e0e8ff;
        display: flex;
        justify-content: center;
        img{
            width: 100vw;
        }
        #main-content{
            img{
                width:90vw;  
                border-top-left-radius: 3vw;
                border-top-right-radius: 3vw;
            }
            position: absolute;
            background-color: white;
            border-radius: 3vw;
            margin: 5vw;
            top:5vh;
            width: 90vw;
            #order-text{
                font-family: 'Red Hat Display', sans-serif;
                font-size:7vw;
                section{
                    text-align: center;
                    color: rgb(168, 168, 168);
                    font-size: 5vw;
                }
            }
            #plans{
                background-color: #e7ebfa;
                border-radius: 3vw;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 3vw;
                width: 75vw;
                margin: 4vw auto;
                img{
                    width: 20vw;
                    
                }
                section{
                    padding: 2vw;
                    font-weight: bold;
                    font-size: 6vw;
                    font-family: 'Red Hat Display', sans-serif;
                    margin: 1vw;
                    span{
                        font-weight: normal;
                        font-family: 'Red Hat Display', sans-serif;
                        color: rgb(145, 145, 145);
                        text-decoration: none;
                        font-size: 5vw;
                        padding: 0;
                    }
                }
                span{
                    color: blue;
                    text-decoration: underline;
                    padding: 2.5vh;
                    font-size: 5vw;
                    font-family: 'Red Hat Display', sans-serif;
                }
            }
            #buttons{
                display: block;
                margin: 0 auto;
                width: 50vw;
                #button-proceed{
                    text-align: center;
                    font-size: 5vw;
                    font-family: 'Red Hat Display', sans-serif;
                    border-radius: 2vw;
                    background-color: blue;
                    color: white;
                    padding: 2vw;
                }
                #button-cancel{
                    text-align: center;
                    font-size: 5vw;
                    border-radius: 2vw;
                    color: rgb(153, 153, 153);
                    padding: 2vw;
                    font-family: 'Red Hat Display', sans-serif;
                }
            }
        }
    }   
}
@media screen and (max-width:768px) and (min-width:427px) 
{
    body{
    margin: 0;
    padding: 0;
    background-color: #e0e8ff;
    display: flex;
    justify-content: center;
    img{
        width: 100vw;
    }
    #main-content{
        position: absolute;
        background-color: white;
        border-radius: 2vw;
        width: 40vw;
        top:10vh;
        img{
            width:40vw;
            border-top-left-radius: 2vw;
            border-top-right-radius: 2vw;
        }
        #order-text{
            font-family: 'Red Hat Display', sans-serif;
            font-size:3vw;
            section{
                text-align: center;
                color: rgb(168, 168, 168);
                font-size:2vw;
            }
        }
        #plans{
            background-color: #e7ebfa;
            border-radius: 2vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1vw;
            width: 35vw;
            margin: 2vw auto;
            img{
                width: 7vw;
            }
            section{
                padding: 2vw;
                font-weight: bold;
                font-size: 2.5vw;
                font-family: 'Red Hat Display', sans-serif;
               
                span{
                    font-weight: normal;
                    font-family: 'Red Hat Display', sans-serif;
                    color: rgb(145, 145, 145);
                    text-decoration: none;
                    font-size: 2vw;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
            }
            span{
                color: blue;
                text-decoration: underline;
                padding: 0.3vh;
                font-size: 2vw;
                font-family: 'Red Hat Display', sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                :hover{
                    cursor: pointer;
                }
            }
        }
        #buttons{
            display: block;
            margin: 0 auto;
            width: 30vw;
            #button-proceed{
                text-align: center;
                font-size: 2vw;
                font-family: 'Red Hat Display', sans-serif;
                border-radius: 1vw;
                background-color: blue;
                color: white;
                padding: 1vw;
            }
            #button-cancel{
                text-align: center;
                font-size: 2vw;
                border-radius: 1vw;
                color: rgb(153, 153, 153);
                padding: 1vw;
                font-family: 'Red Hat Display', sans-serif;
            }
        }
    }
}
}
@media only screen and (min-width:2561px) 
{
    body{
        background-color: #e0e8ff;
        display: flex;
        justify-content: center;
        img{
            width: 100vw;
        }
        #main-content{
            img{
                width:50vw;
                border-top-left-radius: 2vw;
                border-top-right-radius: 2vw;
            }
            position: absolute;
            background-color: white;
            border-radius: 2vw;
            margin: 5vw;
            top:10vh;
            width: 50vw;
            #order-text{
                font-family: 'Red Hat Display', sans-serif;
                font-size:3vw;
                section{
                    text-align: center;
                    color: rgb(168, 168, 168);
                    font-family: 'Red Hat Display', sans-serif;
                    font-size:3vw;
                }
            }
            #plans{
                background-color: #e7ebfa;
                border-radius: 2vw;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 3vw;
                width: 35vw;
                margin: 4vw auto;
                section{
                    padding: 2vw;
                    font-weight: bold;
                    font-size: 3vw;
                    font-family: 'Red Hat Display', sans-serif;
                    span{
                        font-weight: normal;
                        font-family: 'Red Hat Display', sans-serif;
                        color: rgb(145, 145, 145);
                        text-decoration: none;
                        font-size: 2vw;
                        padding: 0;
                        display: flex;
                        justify-content: flex-start;
                    }
                }
                span{
                    color: blue;
                    text-decoration: underline;
                    padding: 2.5vh;
                    font-size: 2vw;
                    font-family: 'Red Hat Display', sans-serif;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            #buttons{
                display: block;
                margin: 0 auto;
                width: 25vw;
                #button-proceed{
                    text-align: center;
                    font-size: 2vw;
                    font-family: 'Red Hat Display', sans-serif;
                    border-radius: 1vw;
                    background-color: blue;
                    color: white;
                    padding: 1vw;
                }
                #button-cancel{
                    text-align: center;
                    font-size: 2vw;
                    border-radius: 1vw;
                    color: rgb(153, 153, 153);
                    padding: 1vw;
                    font-family: 'Red Hat Display', sans-serif;
                }
            }
        }
    }   
}